.character-card
{
  transition: 0.3s ease;
  font-weight: 100;
  max-width: 175px;
  width: 100%;
  color: white;
}

.character-card div
{
  background-color: black;
  margin-top: -3px;
  position: relative;
  z-index: 2;
}

.character-card:hover
{
  font-weight: bolder;
  box-shadow: 0 0 5px 3px rgba(90, 119, 216, 0.85);
  color: #5582FF
}

.character-card img {
  transition: 0.3s ease;
}

.character-card:hover img {
  transform: scale(1.1);
  opacity: 0.9;
}