.text-shadow-label {
  text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}

/*
Saga Labels
*/
.saiyan-saga-label {
  background-color: #FFED4A;
}

.namek-saga-label {
  background-color: #45a329;
}

.android-saga-label {
  background-color: #ff0000;
}

.buu-saga-label {
  background-color: #ff99ff;
}

/*
Race Labels
*/
.android-race-label {
  background-color: #ff0000;
}

.demon-race-label {
  background-color: #ff99ff;
}

.human-race-label {
  background-color: #00b0f0;
}

.namekian-race-label {
  background-color: #45a329;
}

.saiyan-race-label {
  background-color: #FFED4A;
}

.frieza-race-label {
  background-color: #cc0099;
}

.alien-race-label {
  background-color: #b7b7b7;
}

.profile-pic-container {
  position: relative;
}

.profile-bio-bg {
  
}

.profile-bio-pic {
  position: absolute;
  top: 0;
  left: 0;
}