.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#rect32_table {
  width: 100%;
}
#rect32_table td{
  height: 25px;
}
#red_colour {
  width: 100%;
  height: 50px;
  background-color: rgb(255,0,0);
}
#green_colour {
  width: 100%;
  height: 50px;
  background-color: rgb(0,255,0);
}
#blue_colour {
  width: 100%;
  height: 50px;
  background-color: rgb(0,0,255);
}

#rect32_changelog {
  width: 100%;
  margin-top: 10px;
}
#rect32_changelog thead {
  border-bottom: 1px solid white;
}
#rect32_changelog td {
  padding: 5px;
}
#rect32_changelog ul {
  margin-left: 0;
  padding-left: 1em;
}
#rect32_changelog tbody td:nth-child(1){
  white-space: nowrap;
  padding-right: 40px;
}
#rect32_changelog thead td:nth-child(2){
  width: 100%;
}

#rect32_colour {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  outline: 5px ridge white;
  background-color: rgb(255,0,0);
}

#rect32_red {
  outline: 2px ridge white;
  width: 100%;
  height: 50px;
  background: rgb(255,0,0);
}
#rect32_green {
  outline: 2px ridge white;
  width: 100%;
  height: 50px;
  background: rgb(0,0,0);
}
#rect32_blue {
  outline: 2px ridge white;
  width: 100%;
  height: 50px;
  background: rgb(0,0,0);
}

.colorSlider {
  margin-top: 10px;
  width: 90%;
}

.rect32-char {
  width: 237px;
  margin: 0 auto;
  image-rendering: pixelated;
}
.rect32-char:after {
  content: "";
  width: 30px;
  height: 30px;
  background-color: red;
  display: inline-block;
}
.bpoint {
  position: absolute;
  top: 105px;
  left: 108px;
  width: 3px;
  height: 9px;
  background-color: rgb(255,0,0);
}

.rect32-size-btn {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: 1px solid darkgreen;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 5px;
  box-shadow: 0 7px #999;
}
.rect32-size-btn:hover {background-color: #3e8e41}

.rect32-size-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(6px);
}
.rect32-size-btn.active {
  box-shadow: 0 3px #666;
  transform: translateY(6px);
}

.rect32-img-icons img {
  width: 79px;
  outline: 2px solid white;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}
.rect32-img-icons img:hover {
  background: rgba(255,255,255,0.5);
}
.rect32-icon.active{
  background: white;
}