.download-trailer {
  max-width: 720px;
  margin: 0 auto;
}

.download-button {
  transition: 0.25s;
  background-color: #68d391;
  padding: 12px 25px;
  border-radius: 5px;
  border: 1px solid #2f855a;
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 10px;
}
.download-button:hover
{
  background-color: #38a169;
}

.download-button:disabled{
  background-color: gray;
  border: 1px solid black;
  cursor: not-allowed;
}
.download-button:disabled:hover{
  background-color: gray;
}

.download-button-b {
  background-color: #4772FF  !important;
  border: 1px solid #284CB7  !important;
}
.download-button-b:hover
{
  background-color: #284CB7  !important;
}

.download-button-r {
  background-color: #DB3030  !important;
  border: 1px solid #A81717  !important;
}
.download-button-r:hover
{
  background-color: #A81717  !important;
}


.download-legend{
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
}
.balanced-ver-legend {
  /* float: left; */
  font-weight: 900;
  color: #4772FF ;
}
.standard-ver-legend {
  /* float: center; */
  text-align: center;
  font-weight: 900;
  color: #68d391;
}
.realistic-ver-legend {
  /* float: right; */
  font-weight: 900;
  color: #DB3030 ;
}