.stat-bar
{
  transform: scaleX(0);
  animation-name: statBarAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform-origin: left;
  box-shadow: inset 0px 2px 3px 0 rgba(255,255,255,0.6),
              inset -0px -2px 3px 0 rgba(0,0,0,0.3);
}

.stat-bar-container
{
  box-shadow: inset 0px -2px 1px 0 rgba(0,0,0,0.5);
}

@keyframes statBarAnimation {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}


@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.power-level-value {
  counter-reset: num var(--num);
  --num: 0;
  font: 800 2.25rem system-ui;
  line-height: 1;
  color: yellow;
  animation-name: counter;
  animation-duration: 5s;
  animation-delay: 0.2s;
  transition: --num 5s ease-in-out;
  animation-fill-mode: forwards;
  background-color: green;
}
.power-level-value::before {
  content: counter(num);
}

@keyframes counter {
  0% {
    --num: 0;
  }
  100% {
    --num: var(--power-level-value);
  }
}