.guide-contents {
  position: fixed;
  top: 150px;
  left: 0;
}
@media (max-width: 1600px) {
  .guide-contents {
    position: relative;
    top: 0px;
  }
}

.guide-contents a {
  color: white;
}

h2:target, h3:target{
  padding-top: 100px;
}

.guide-page h2 { font-size: 1.8em; text-align: center; }
.guide-page h3 { font-size: 1.6em; text-align: center; margin-top: 20px; margin-bottom: 10px;}
.guide-page h4 { font-size: 1.4em; text-align: center; margin-top: 20px; margin-bottom: 10px;}
.guide-page h5 { font-size: 1.2em; text-align: left; }
.guide-page p  { font-size: 1em; text-align: justify; }
.guide-page li { font-size: 1em; }

.guide-page hr {
  margin: 40px 40px;
  border: 3px dotted white;
  border-style: dotted dashed dashed dotted;
}

.guide-video-container{
  padding: 20px 0px;
  filter: drop-shadow(0px 0px 6.75px black);
}
.guide-video {
  width: 100%;
  border: 10px solid white;
  border-style: groove;
  box-shadow: 0 0 10px white;
  border-radius: 50px;
  /* image-rendering: pixelated; */
}

.guide-page h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.guide-page table, th, tr {
  border: 1px solid;
  padding: 5px;
}

.guide-anchor {
  position: absolute;
  top: -100px;
  visibility: hidden;
}

.guide-img {
  margin: 20px 0;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 6.75px black);
}

.nmb-5 {
  margin-bottom: -5px;
}

.guide-page a {
  color: white;
}

.guide-page hr {
  margin: 40px 40px;
  border: 3px dotted white;
  border-style: dotted dashed dashed dotted;
}

.stats-img{
  width: 50%;
  image-rendering: crisp-edges;
}



@media (min-width: 768px) {
  .guide-page h2 { font-size: 1.85em;  }
  .guide-page h3 { font-size: 1.7em; }
  .guide-page h4 { font-size: 1.55em;}
  .guide-page h5 { font-size: 1.4em; }
  .guide-page p  { font-size: 1.25em; }
  .guide-page li { font-size: 1.25em; }
  .guide-page hr { margin: 40px 100px; }

  .guide-video-container{
    padding: 20px 50px;
    filter: drop-shadow(0px 0px 6.75px black);
  }
  .guide-video {
    width: 100%;
    border: 10px solid white;
    border-style: groove;
    box-shadow: 0 0 10px white;
    border-radius: 50px;
    image-rendering: auto;
  }

  .guide-video2{
    image-rendering: smooth;
  }

  .guide-video3{
    image-rendering: crisp-edges;
  }

  .guide-video4{
    image-rendering: pixelated;
  }
}