.tournament-grid img{
  margin: 1px;
  width: 80px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
}
.tournament-grid img:hover{
  border: 2px solid white;
}
.tournament-grid{
  margin: 1.25rem -1.5rem 1.25rem -1.5rem;
}

.dp-value {
  position: absolute;
  bottom: 5px;
  left: 0;
  background: rgba(0,0,0,0.5);
  padding: 5px 5px;
  font-weight: 900;
  font-size: 20px;
}