.tournament-grid img{
  margin: 1px;
  width: 80px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
  image-rendering: pixelated;
}
.tournament-grid img.disabled{
  cursor: not-allowed;
  filter: grayscale(100%);
  opacity: 0.6;
  border: 2px solid #ff6b6b;
  pointer-events: none;
}
.tournament-grid img:hover{
  border: 2px solid white;
}
.tournament-grid{
  margin: 1.25rem -1.5rem 1.25rem -1.5rem;
}

.dp-value {
  position: absolute;
  bottom: 5px;
  left: 0;
  background: rgba(0,0,0,0.5);
  padding: 5px 5px;
  font-weight: 900;
  font-size: 20px;
}

.tournament-char {
  width: 80px;
  background: black;
  height: 90px;
}
.tournament-char:before {
  content: '?';
  font-size: 45px;
  font-weight: 900;
  top: 20px;
  left: 20px;
  padding: 50px 30px;
}

.tournament-round-button {
  color: white;
  margin: 10px;
  background: darkgreen;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}
.tournament-round-button:hover {
  background: green;
}
.tournament-round-button-selected {
  background: lightgreen;
}